[project]
	description = Servo control codes
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/YanKeeJune
[access "refs/for/refs/*"]
	read = group user/YanKeeJune
	push = group user/YanKeeJune
	label-Code-Review = -2..+2 group user/YanKeeJune
	label-Verified = -1..+1 group user/YanKeeJune
	rebase = group user/YanKeeJune
	removeReviewer = group user/YanKeeJune
	submit = group user/YanKeeJune
[access "refs/heads/*"]
	read = group user/YanKeeJune
	create = group user/YanKeeJune
	push = +force group user/YanKeeJune
	pushMerge = group user/YanKeeJune
[access "refs/tags/*"]
	push = group user/YanKeeJune
	push = +force group user/YanKeeJune
